<%= render "shared/header"%>
<%= render "shared/side_bar_edit" %>

<div class="main-content">
 <div class="title">
  メッセージを送る
 </div>
  <div class="blog-content-show">
      <div class="follow-contents">
       
       <div class="follow-content">
       </div>
       </div>
  </div>
</div>