.room-field{
  height: 23vh;
  width: 45vw;
  margin-left: auto;margin-right: auto;
  margin: auto;
  background-color: blue;
}

.room-contents{
  height: 50vh;
  width: calc(100% - 50vw);
  border:  black 2px double;
  background-color: cornsilk;
  margin-left: auto;margin-right: auto;
  padding-top: 1px;
  overflow: auto;
}

.room-form-users{
  width: 30vw;
  background-color: cyan;
}