.room-fields{
  height: 23vh;
  width: 45vw;
  margin-left: auto;margin-right: auto;
}

.room-contents{
  height: 50vh;
  width: calc(100% - 50vw);
  border:  black 2px double;
  background-color: cornsilk;
  margin-left: auto;margin-right: auto;
  padding-top: 1px;
  overflow: auto;
}

.room-field{
  width: 80vh;
  margin-top: 3vh;
}
.room-label{
  height: 5vh;
  font-size: 3vh;
}
.room-name{
  height: 5vh;
  width: 40vw;
  font-size: 2.5vh;
  cursor: pointer;
}

.follow-contents{
  display: block;
  overflow: unset;
}

.room-form-users{
  width: 30vw;
  background-color: cyan;
}

.form-messages-content{
  height: 10vh;
  background-color: black;
}


.message-text{
  background-color: blue;
  height: 70vh;
  overflow: scroll;
}

.message-form{
  height: 7vh;
  width: 40vw;
}

.select-box select{
  height: 7vh;
  width: 40vw;
 background-color: azure;
 border: 1px solid black;
 color: black;
 font-size: 2.5vh;
}