<%#header挿入%>
<div class="wrapper">
 <div class="header">
  <%= render "shared/header" %>
 </div>

  <%# サイドコンテンツ %>
 <div class="side-bar">
   <%= render "shared/side_bar"%>
 </div>
 
  <%#メイン画面でブログを展開する%>
 <div class ="main-content">
    <%= render "shared/main_blog" %>
 </div>
   <%#footer挿入%>
 <div class = "footer">
  <%= render "shared/footer" %>
 </div>
</div>