

<%#header挿入%>
<div class="wrapper">
  <%= render "shared/header" %>

  <%# サイドUIコンテンツ %>
  <%= render "shared/side_bar"%>
 
  <%#メイン画面でブログを展開する%>
 <div class ="main-content">
    <%= render "shared/main_blog" %>
 </div>
   <%#footer挿入%>
   
</div>