   <%# if user_signed_in? %>
  <h1>ユーザー一覧画面</h1>
  <%# @users.each do |user| %>
    <p>
      <%= "id: #{@user.id} email: #{@user.email}" %>
      <% if current_user.following?(@user) %>
        <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
      <% end %>
    </p>
  <%# end %>
<%# end %>