<%# <マイページ> %>
<%= render "shared/header"%>
 <div class="side-bar">
   <%= render "shared/side_bar_user"%>
 </div>
   <%# <ブログ展開> %>
<div class="main-content">
  <div class="title">
   My Blogs
  </div>
   <div class="blog-contents">
    <% if @blogs.size > 0 %> 
      <%= render "shared/blog"%>
        <%#blogがまだない時の表示%>
    <% else %>
    <% end %>
   </div>
</div>