<%# <マイページ> %>
<%= render "shared/header"%>
 <div class="side-bar">
   <%= render "shared/side_bar_user"%>
 </div>
   <%# <ブログ展開> %>
<div class="main-content">
  <div class="title">
   <%= @user.nickname %>さんのマイページ
  </div>
   <div class="blog-contents">
    <% if @blogs.size > 0  %> 
      <%= render "shared/blog"%>
    <% end %>
   </div>
</div>