 <div class="blog-comment">
      コメント一覧 
    </div>
    <div class="comments">
      <% if @comments %>
       <% @comments.each do |comment| %>
         <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"comment-user" %>:
         <%= comment.text %>
         <div class="created-date">
         <%= comment.created_at %>
         </div>
       <% end %>
      <% end %>
    </div>  