<%# model事にエラーが出せるように設定 %>

<% if model.errors.any? %>
<div class="errors">
  <div class="error_explanation">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class="error-messages"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>