<div class="side-top">
 <li>
   <div class="side-contents">
     <% link_to "記事を書く", root_path, class:"side-item"%>
   </div>
   <div class="side-contents">
    <% link_to "記事一覧を確認する", root_path, class:"side-item"%>
   </div>
 </li>
</div>