 <h2 class="title">New Blogs Index</h2>
  <div class="blog-contents">
   <%#ブログが存在したらブログ展開%>
    <% if @blogs.size > 0 %> 
     <%= render "shared/blog"%>
    <%#blogがまだない時の表示%>
    <% else %>
    <% end %>
  </div>