   <div class="search-block2">
    <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form2" ) do |f| %>
     <%= f.text_field :keyword, placeholder:"検索内容を入力", class:"search-input2" %>
     <%= f.submit '検索', class:"search-btn2" %>
    <% end %>
   </div>