
.delete-btn{
  margin: 20px 0px;
  padding: 1vh 3vw;
}
/* ブログ投稿関係のcss */

/* Actiontext用 */
.trix-content {
  line-height: 2em;
  blockquote {
    border-bottom: 1.5px solid #ddd;
    font-size: 1.0em;
    line-height: 1.2;
    padding-bottom: .2em;
    margin: 0;
    width: 30vw;
  }
}
  .tirx_editer{

  }
.trix-button-row{
}
/* 範囲を色指定するときに使用 */
  pre {
    background-color: red;
    color:white;
  }

.main-content2{
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: white;
  overflow: auto;
  padding-top: 10px;
}
.blog-info{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.blog-head{
  display: flex;
  width: 50vw;
  height: 65px;
  margin-left: auto;margin-right: auto;
}

.blog-title2.img-text{
  font-size: 20px;
  margin-left: 8px;
}
.title-area{
  height: 3.5vh;
  width: 30vw;
  margin: 0 5px;
  cursor: pointer;
}

.title-box{
  display: flex;
}
.img-upload{
  margin-top: 5px;
}

.blog-form{
  height: 61vh;
  width: 52vw;
  padding: 16px 16px 8px;
  border: 1px solid black;
  background-color: white;
  font-size: 16px;
  overflow: auto;
  margin-bottom:10px;
  cursor: pointer;
}

.blog-report{
  height: 78vh;
  width: calc(100% - 3vw);
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black ; 
  background-color: white;
  overflow: scroll;
  white-space: pre-wrap;        /* 記述した内容を改行する */
}
.blog-contents2,.blog-contents-show{
  height: 78vh;
  width: calc(100% - 45vw);
  /* flex-wrap: wrap;                 記事折り返し用 */
  /* background-color: whitesmoke; */
  margin-left: auto;margin-right: auto;
  padding-top: 1px;
  overflow: auto;
}
.blog-contents-show{
  border: 1px black solid;
  padding: 1vh 1vw;
}
.blog-contribute{
  width: 35vw;
  font-size: 3vh;
  display: flex;
}
/* ブログようボタンまわり */
.action-btn,.action-btn2{
  padding-top: 2px;
  height: 5vh;
  width: 10vw;
border-bottom:  1px solid white;
margin-left: 1vw;
margin-bottom: 10px;
}
.action-btn2{
  height: 4vh;
  padding-top: 0;
}
.contribute-btn{
  background-color: green;
  padding: 0.5vh 3vw;
  font-size: 2vh;
  cursor: pointer;
  color: white;
  border: 1px solid white;
}
/* enum下書き公開用 */
select{
  color: white;
  padding: 5px 10px;
  background-color: gray ;
  border: 1px solid white;
  width: 10vw;
  font-size: 20px; 
  cursor: pointer;
  margin-bottom: 10px;
}
.draft, .draft2{
  height: 3vh;
  width: 8vw;
  background-color: rgb(70, 92, 218);
  color: white;
  border: 1px solid bisque;
  font-size: 2vh;
}
.draft2{
  width: 5vw;
  margin-top: 8vh;
}
/* show用CS */
.head-index{
  height: 13vh;
  width: 100vw;
  background-color: gray;
  border-bottom: 1px solid black ;
  object-fit: auto;
  text-align: center;
  margin-left: auto;margin-right: auto;
  overflow: auto;
 }
.title-index{
  color: white;
  font-size: 45px ;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
.blog-img2{
  object-position: left;
  object-fit: cover;
  height: 100px;
  width: 100vw;
}
