.wrapper{
  background-color: white;
  /* align-items: center; */
  position: relative;
}
a {
  text-decoration: none;
}
/* ヘッダーコンテンツ関連 */
.title-block{
  font-size: 20px;
  color: white;
  margin-top: 10px ;
}
.s{
  color: red;
  font-size: 30px;
}
.header{
 height: 60px;
 width: 100vw;
 background-color: green;
 display: flex;
 justify-content: space-between;
 /* position: absolute; */
}
.header-left{
  width: 60%;
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
}
.user-list{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 3px;
}
.header-right{
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
}
.icon{
  text-decoration: none;
  margin: 3 3px;
}
.search-block{
align-items: flex-end;
}
.search-input{
  margin: 0 0 5px 15px;
  cursor: pointer;
  height: 30px;
  width: 35vw;
}
.search-btn{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 17px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 15px 12px;   /* 余白       */
  background    : #2d7e64;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 2px;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  border        : 1px solid white;    /* 枠の指定 */
  margin-bottom: 3px;
}
.search-btn:hover ,.nickname:hover,.log-out:hover,.new-user:hover,.log-in:hover,.my-menu:hover,.new-blog:hover,.blog-name:hover, .search-btn2:hover, .root-index:hover,.nickname-link:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 文字色     */
  background    : #ffffff;     /* 背景色     */
}
.delete-btn:hover,.contribute-btn:hover,.my-menu2:hover,.unfollow-btn:hover{
  box-shadow    : none;
  color: white;
  background: red;
}
.edit-btn:hover,.registration-btn:hover,.session-btn:hover,.update-btn:hover,.comment-btn:hover,.return-btn:hover,.follow-btn:hover{
  box-shadow    : none;
  color: white;
  background: blue;
}
.sign-in{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding-right: 8px;
  margin-right: 2vw;
}

.edit-block{
  justify-content: space-between;
}
.edit-btn,.delete-btn,.comment-btn,.contribute-btn2,.registration-btn,.session-btn,.update-btn,.follow-btn,.unfollow-btn{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 22px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 20px 17px;   /* 余白       */
  background    : #2d7e64;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 3px;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  border        : 1px solid white;    /* 枠の指定 */
  margin-bottom: 3px;
}
.registration-btn,.session-btn,.update-btn{
 background-color: red;
 width: 14vw;
 margin-bottom: 20px;
 margin-top: 20px;
 margin-right: 10px;
}
.update-btn{
  margin-top: 10px;
}
.return-btn{
  border-radius: 5%;
    text-decoration: none;
    font-size: 23px;
    background-color: white;
    border: solid 1px ;
    padding: 1.1vh 3vw 1.2vh;
    margin-top: 1vh;
    color: black;
}
.new-user,.log-in,.log-out,.my-menu,.my-menu2,.new-blog,.nickname,.root-index,.nickname-link{
  line-height: 32px;
  margin-right: 10px;
  color: #333333;
  color: azure;
  text-decoration: none;
  font-size: 20px;
}
/* サイドバーコンテンツ関連 */
.side-bar{
  height: 75vh;
  width: 17vw;
  text-align: center;
  background-color: green;
  position: absolute;
  top: 120px;             /* (headerとの差は55px) */
  left: 3.5vw;
  position: fixed;
  border: 2px solid white;
  box-shadow: 3px 3px 3px black;
  overflow: auto;
}
.info,.blog-comment{
  font-size: 17px;
  color: white;
  background-color:#2d7e64 ;
  border: 2px solid white;
  margin: 5px;
  padding: 3px 0;
  
}

.info2{
  font-size: 17px;
  color: white;
  background-color:#2d7e64 ;
  border: 2px solid white;
  margin: 30px 5px 5px 5px;
  padding: 3px 0;
}
.block,.search-block2,.nickname-block{
  border-bottom: solid 1px white;
  margin: 10px 5px;
}
.blog-name{
  line-height: 32px;
  margin-right: 10px;
  color: #333333;
  color: azure;
  text-decoration: none;
  font-size: 15px;
}
.search-input2{
  margin-left: 2px;
  cursor: pointer;
  height: 30px;
  width:10vw;
}
.search-btn2{
  display       : inline-block;
  border-radius : 4%;          /* 角丸       */
  font-size     : 14px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 15px 5px;   /* 余白       */
  background    : #2d7e64;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 2px;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 1px 1px 1px #666666;  /* 影の設定 */
  border        : 1px solid white;    /* 枠の指定 */
  margin-bottom: 3px;
}
.edit-block{
  border-bottom: white 1px solid;
  margin: 0px 5px 25px;
}

.comment-input{
  margin-top: 2px;
  width: 40vw;
  cursor: pointer;
  vertical-align: middle;   /* 要素の縦型中央揃え */
}
.comments,.comment-user{
  color: black;
  text-align: left;
}
.comment-btn{
  font-size: 15px;
  padding: 3vh 2vw;
  
}
.comment-form{
  border-bottom: solid 1px white;
  display: flex;
  justify-content: center;
}
.blog-comment{
  margin: 3vh 0;
  margin-left: auto;margin-right: auto;
  padding: 1vh 22.5vw;
  border: black solid 2px;
}
.created-date{
  font-size: 13px;
  color: #666666;
}
/* メイン・ブログを展開する部分 */
.main-content,.main-content3{
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: white;
  overflow: auto;
}

.title{
  font-family: sans-serif;
  font-size: 40px;
  /* 記事一覧に陰影表示 */
  text-shadow: 4px 3px white, 4px 4px  green; 
  margin-left: 25vw;
  display: flex;
}
.blog-contents,.follow-contents{
  height: 80vh;
  width: calc(100% - 50vw);
  background-color: cornsilk;
  margin-left: auto;margin-right: auto;
  border: black 2px double;
  overflow: auto;
}

.blog-block,.follow-list{
  height: 17.5vh;
  width:47vw;
  display: flex;
  background-color: white;
  margin: 5.5px;
  margin-left: auto;margin-right: auto;
  padding: 5px;
  border-top: solid grey 1px;
  border-bottom:solid grey 1px ;
  overflow: hidden;
}
.blog-img{
  height: 16vh;
  width: 10vw;
  object-fit: contain;   /*  画像嵌め込みしき*/
  padding: 0 35px;
} 
.post{
  padding: 50px;
}
.post-btn{
  text-align: center;
  border: 1px solid black;
  color: #333333;
  background-color: white;
  font-size: 30px;
  margin: 20px 0px;
  padding: 1vh 3vw;
}
.blog-info{
  height: 12vh;
  width: 30vw;
  margin-right: auto;
}
.list{
  list-style: none;
  margin-right: auto;
}
.blog-title{
  color: #333333;
  font-size: 21px;
  margin-left: 3px;
  margin-bottom: 5px;
  margin-right: auto;
  text-align: left;
}
.blog-user,.blog-time{
  font-size: 13px;
  color: #333333;
  margin-left: 3px;
  margin-bottom: 2px;
  margin-right: auto;
  text-align: left;   /*画像を左寄せ*/
}

/* フッターコンテンツ */
.footer{
  height: 50px;
  width:  100vw;
  background-color: black;
}
.side_item{
  background-color: black;
}
/* エラ〜メッセージよう */
.errors{
  border-radius : 3%;
  height: 10vh;
  width: 50vw;
  background-color: rgb(212, 25, 106);
  color: #ffffff;
  padding: 1vh 1vw;
  margin-top: 1vh;
  margin-left: auto;margin-right: auto;
  border: 1px solid black;
}