/* ブログ投稿関係のcss */

/* Actiontext用 */
.trix-content {
  
  line-height: 2em;
  blockquote {
    border-bottom: 1.5px solid #ddd;
    font-size: 1.0em;
    line-height: 1.2;
    padding-bottom: .2em;
    margin: 0;
  }
}
/* 範囲を色指定するときに使用 */
  pre {
    background-color: red;
    color:white;
  }

.main-content2{
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: white;
  overflow: auto;
  padding-top: 10px;
}
.blog-info{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.blog-head{
  display: flex;
  width: 50vw;
  height: 65px;
  margin-left: auto;margin-right: auto;
}

.blog-title2.img-text{
  font-size: 20px;
  margin-left: 8px;
}
.title-area{
  height: 3.5vh;
  width: 30vw;
  margin: 0 5px;
  cursor: pointer;
}

.title-box{
  display: flex;
}
.img-upload{
  margin-top: 5px;
}

.blog-form{
  height: 60vh;
  width: 48vw;
  padding: 16px 16px 8px;
  border: 1px solid black;
  background-color: white;
  font-size: 16px;
  overflow: auto;
  margin-bottom:10px;
  cursor: pointer;
}

.blog-report{
  height: 78vh;
  width: calc(100% - 3vw);
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black ; 
  background-color: white;
  overflow: scroll;
  white-space: pre-wrap;        /* 記述した内容を改行する */
}
.blog-contents2{
  height: 78vh;
  width: calc(100% - 50vw);
  /* flex-wrap: wrap;                 記事折り返し用 */
  /* background-color: whitesmoke; */
  margin-left: auto;margin-right: auto;
  padding-top: 1px;
  border: 2px black double;
  overflow: auto;
}
.blog-contribute{
  font-size: 30px;
  margin-left: 20px;
}
.action-btns{
  margin-left: 100px;
}
.contribute-btn,.contribute-btn2{
  background-color: rgba(17, 161, 53, 0.85);
  padding: 3vh 3vw;
  font-size: 20px;
  margin-left: 2vw;
  cursor: pointer;
  color: black;
}
.contribute-btn{
  background-color: cyan;
  padding: 3vh 5vw;
}
/* show用CS */
.head-index{
  height: 110px;
  width: 100vw;
  background-color: gray;
  border-bottom: 1px solid black ;
  /* background-color: black; */
  object-fit: auto;
 }
.title-index{
  color: white;
  font-size: 80px;
  text-align: center;
}
.blog-img2{
  object-position: left;
  object-fit: cover;
  height: 100px;
  width: 100vw;
}