/* ブログ投稿関係のcss */
.blog-info{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-area{
  height: 3vh;
  width: 20vw;
margin: 0 40px;
}

.title-box{
  display: flex;
}

.blog-report{
 margin-top: 20px; 
}
.blog-form{
  height: 60vh;
  width: 44vw;
  padding: 16px 16px 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contribute-btn{
  background-color: cornsilk;
  padding: 1vh 5vw;
  font-size: 20px;
  margin: 1vh;
}