.new-user-head,.new-user-head2{
  height: 7vh;
  width: 40vw;
  font-size: 40px;
  padding-left: 11px;
  margin-left: auto;margin-right: auto;
  margin-top: 20px;
  justify-content: center;
}
.main-content3{
  height: calc(100vh - 30px);
  background-color: white;
}
.new-users,.new-users2{
  height: 82vh;
  width: calc(100% - 50vw);
  background-color: cornsilk;
  margin-left: auto;margin-right: auto;
 text-align: center;
 font-size: 15px;
 border: 2px black double;
 overflow:auto;
}
.new-users2{
  height: 40vh;
  padding: 40px 0;
}
.user-contents,.user-contents2,.user-contents3{
  height: 74vh;
  width: 45vw;
  background-color:white;
 margin-left: auto;margin-right: auto;
 padding: 5px;
 border: 1px solid black;
 overflow: auto;

}
.user-contents2{
  height: 37vh;
  padding: 10px 0;
  margin-left: auto;margin-right: auto;
}
.user-contents3{
  height: 78vh;
  margin-top: 1.5vh;
}

.title2{
    font-size: 20px;
    margin-top: 5px;
  }

.field{
  width: 40vw;
  font-size: 17px;
  padding-bottom: 3px;
  margin-top: 20px;
  margin-left: auto;margin-right: auto;
  text-align: left;
}
.input-area{
  width: 40vw;
  padding: 5px ;
  cursor: pointer;
}
.essential{
  color: white;
  background-color: red;
  font-size: medium;
}
.birth-date{
  display: flex;
  align-items: center;
}
.introduction{
  width: 40vw;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  overflow: auto;
  cursor: pointer;
}
.change-blog-btn{
  text-decoration: none;
  margin: 3vh 3vw;
}
.another-blog{
  text-decoration: none;
  margin-top: 3vh;
}