.new-user-head,.new-user-head2{
  height: 6vh;
  width: 40vw;
  font-size: 35px;
  margin-left: auto;margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-content3{
  height: calc(100vh - 30px);
  background-color: white;
}
.new-users,.new-users2{
  height: 84vh;
  width: calc(100% - 49vw);
  background-color: cornsilk;
  margin-left: auto;margin-right: auto;
 text-align: center;
 font-size: 15px;
 border: 2px black double;
 overflow:auto;
}
.new-users2{
  height: 46vh;
  padding: 20px 0;
}
.user-contents,.user-contents2,.user-contents3{
  height: 77vh;
  width: 48vw;
  background-color:white;
  margin-top: 3vh;
 margin-left: auto;margin-right: auto;
 padding: 5px;
 border: 1px solid black;
 overflow: auto;

}
.user-contents2{
  height: 40vh;
  padding-top: 5vh;
  margin-top: 0px;
  margin-left: auto;margin-right: auto;
}
.user-contents3{
  height: 78vh;
  margin-top: 1.5vh;
}

.title2{
    font-size: 3vh;
    margin-top: 3vh;
  }

.field{
  width: 40vw;
  font-size: 17px;
  padding-bottom: 3px;
  margin-top: 1vh;
  margin-left: auto;margin-right: auto;
  text-align: left;
}
.input-area{
  width: 40vw;
  padding: 5px ;
  cursor: pointer;
}
.essential{
  color: white;
  background-color: red;
  font-size: medium;
}
.birth-date{
  display: flex;
  align-items: center;
}
.introduction{
  width: 40vw;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  overflow: auto;
  cursor: pointer;
}
.change-blog-btn{
  text-decoration: none;
  margin: 3vh 3vw;
}
.another-blog{
  text-decoration: none;
  margin-top: 3vh;
}

/* プロフィール編集関係用 */
.profile,.profile2{
  width: 40vw;
  font-size: 2vh;
  margin-top: 2vh;
  margin-left: auto;margin-right: auto;
}
.profile2{
  margin-top: 4vh;
}
.profile-field, .profile-field2{
  height: 3vh;
  width: 40vw;
  font-size: 2vh;
  margin-top: 1vh;
  margin-left: auto;margin-right: auto;
  padding: 1vh 1vw;
  background-color: white;
  border: 1px solid black;
}
.profile-field2{
  height: 10vh;
  overflow: auto;
  margin-bottom: 4vh;
}
.input-birth-wrap{
  display: flex;
}

/* .user-img-follow{
  height: 1vh;
  width: 10vw;
  object-fit: contain;   /*  画像嵌め込みしき*/
  padding: 0 35px;
}  */
